/* Normalize */

*,
*::after,
*::before {
	box-sizing: inherit;
}

* {
	font: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
hr {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	box-sizing: border-box;
}

body {
	background-color: rgba(var(--color-bg), var(--bg-o, 1));
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main,
form legend {
	display: block;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

button,
input,
textarea,
select {
	margin: 0;
}

.btn,
.form-control,
.link,
.reset {
	background-color: transparent;
	padding: 0;
	border: 0;
	border-radius: 0;
	color: inherit;
	line-height: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

select.form-control::-ms-expand {
	display: none;
}

textarea {
	resize: vertical;
	overflow: auto;
	vertical-align: top;
}

input::-ms-clear {
	display: none;
}

:root {
	--table-border-color: var(--color-contrast-low);
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}


table thead {
	font-weight: bold;
	text-align: left;
	background-color: rgba(var(--color-bg));
	box-shadow: 0 1px 0 rgba(var(--table-border-color), var(--table-border-opacity, 0.5));
}

td,
th {
	padding: var(--space-md)
}

table.table-sm td,
table.table-sm th {
	padding: var(--space-sm)
}

table tr {
	border-bottom: 1px solid rgba(var(--table-border-color), var(--table-border-opacity, 0.5));
}

table.table-stripped tbody tr:nth-of-type(odd) {
	background-color: rgba(var(--color-contrast-medium), 0.1);
}

table.table-stripped\@even tbody tr:nth-of-type(even) {
	background-color: rgba(var(--color-contrast-medium), 0.1);
}

table.table-bordered {
	border-left: 1px solid rgba(var(--table-border-color, var(--table-border-opacity, 0.5)));
	border-top: 1px solid rgba(var(--table-border-color, var(--table-border-opacity, 0.5)));
}

table.table-bordered td,
table.table-bordered th {
	border-right: 1px solid rgba(var(--table-border-color, var(--table-border-opacity, 0.5)));
}

table.table-borderless,
table.table-borderless td,
table.table-borderless th,
table.table-borderless tr,
table.table-borderless thead {
	border: 0;
	box-shadow: none;
}

img,
video,
svg {
	max-width: 100%;
}

[data-theme] {
	background-color: rgba(var(--color-bg), var(--color-o, 1));
	color: rgba(var(--color-contrast-high), var(--bg-o, 1));
}

:root {
	--space-unit: 1rem;
}

:root,
* {
	--space-xs: calc(0.5 * var(--space-unit));
	--space-sm: calc(0.75 * var(--space-unit));
	--space-md: calc(1.25 * var(--space-unit));
	--space-lg: calc(2 * var(--space-unit));
	--component-padding: var(--space-md);
	--container-sm: 48rem;
	--container-md: 64rem;
	--container-lg: 80rem
}

/* Layout */

.container,
[class*="container-"] {
	width: calc(100% - 2 * var(--component-padding));
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 48rem) {
	.container-sm {
		max-width: var(--container-sm);
	}
}

@media (min-width: 64rem) {

	.container-md,
	.container-sm {
		max-width: var(--container-md);

	}
}

@media (min-width: 80rem) {

	.container-lg,
	.container-md,
	.container-sm {
		max-width: var(--container-lg);

	}
}


.grid {
	--gap: 0px;
	--gap-x: var(--gap);
	--gap-y: var(--gap);
	--offset: var(--gap-x);
	display: flex;
	flex-wrap: wrap;
}

.grid>* {
	flex-basis: 100%;
	max-width: 100%;
	min-width: 0;
}

[class*="gap-sm"],
[class*="gap-md"],
[class*="gap-lg"],
[class*="grid-gap-"],
[class*="flex-gap-"] {
	margin-bottom: -0.75em;
	margin-left: -0.75em;
}

[class*="gap-sm"]>*,
[class*="gap-md"]>*,
[class*="gap-lg"]>*,
[class*="grid-gap-"]>*,
[class*="flex-gap-"]>* {
	margin-bottom: 0.75em;
	margin-left: 0.75em;
}

[class*="gap-x-sm"],
[class*="gap-x-md"],
[class*="gap-x-lg"] {
	margin-left: -0.75em;
}

[class*="gap-x-sm"]>*,
[class*="gap-x-md"]>*,
[class*="gap-x-lg"]>* {
	margin-left: 0.75em;
}

[class*="gap-y-sm"],
[class*="gap-y-md"],
[class*="gap-y-lg"] {
	margin-bottom: -0.75em;
}

[class*="gap-y-sm"]>*,
[class*="gap-y-md"]>*,
[class*="gap-y-lg"]>* {
	margin-bottom: 0.75em;
}

@supports (--css: variables) {
	.grid {
		margin-bottom: calc(-1 * var(--gap-y));
		margin-left: calc(-1 * var(--gap-x));
	}

	.grid>* {
		margin-bottom: var(--gap-y);
		margin-left: var(--offset);
	}

	.flex[class*="gap-"],
	.inline-flex[class*="gap-"] {
		margin-bottom: calc(-1 * var(--gap-y, 0));
		margin-left: calc(-1 * var(--gap-x, 0));
	}

	.flex[class*="gap-"]>*,
	.inline-flex[class*="gap-"]>* {
		margin-bottom: var(--gap-y, 0);
		margin-left: var(--gap-x, 0);
	}

	.gap-sm,
	.grid-gap-sm,
	.flex-gap-sm {
		--gap-x: var(--space-sm);
		--gap-y: var(--space-sm);
	}

	.gap-md,
	.grid-gap-md,
	.flex-gap-md {
		--gap-x: var(--space-md);
		--gap-y: var(--space-md);
	}

	.gap-lg,
	.grid-gap-lg,
	.flex-gap-lg {
		--gap-x: var(--space-lg);
		--gap-y: var(--space-lg);
	}

	.gap-0 {
		--gap-x: 0px;
		--gap-y: 0px;
	}

	.gap-x-sm {
		--gap-x: var(--space-sm);
	}

	.gap-x-md {
		--gap-x: var(--space-md);
	}

	.gap-x-lg {
		--gap-x: var(--space-lg);
	}

	.gap-x-0 {
		--gap-x: 0px;
	}

	.gap-y-sm {
		--gap-y: var(--space-sm);
	}

	.gap-y-md {
		--gap-y: var(--space-md);
	}

	.gap-y-lg {
		--gap-y: var(--space-lg);
	}

	.gap-y-0 {
		--gap-y: 0px;
	}
}

.col {
	flex-grow: 1;
	flex-basis: 0;
	max-width: 100%;
}

.col-1 {
	flex-basis: calc(8.33% - 0.01px - var(--gap-x, 0.75em));
	max-width: calc(8.33% - 0.01px - var(--gap-x, 0.75em));
}

.col-2 {
	flex-basis: calc(16.66% - 0.01px - var(--gap-x, 0.75em));
	max-width: calc(16.66% - 0.01px - var(--gap-x, 0.75em));
}

.col-3 {
	flex-basis: calc(25% - 0.01px - var(--gap-x, 0.75em));
	max-width: calc(25% - 0.01px - var(--gap-x, 0.75em));
}

.col-4 {
	flex-basis: calc(33.33% - 0.01px - var(--gap-x, 0.75em));
	max-width: calc(33.33% - 0.01px - var(--gap-x, 0.75em));
}

.col-5 {
	flex-basis: calc(41.66% - 0.01px - var(--gap-x, 0.75em));
	max-width: calc(41.66% - 0.01px - var(--gap-x, 0.75em));
}

.col-6 {
	flex-basis: calc(50% - 0.01px - var(--gap-x, 0.75em));
	max-width: calc(50% - 0.01px - var(--gap-x, 0.75em));
}

.col-7 {
	flex-basis: calc(58.33% - 0.01px - var(--gap-x, 0.75em));
	max-width: calc(58.33% - 0.01px - var(--gap-x, 0.75em));
}

.col-8 {
	flex-basis: calc(66.66% - 0.01px - var(--gap-x, 0.75em));
	max-width: calc(66.66% - 0.01px - var(--gap-x, 0.75em));
}

.col-9 {
	flex-basis: calc(75% - 0.01px - var(--gap-x, 0.75em));
	max-width: calc(75% - 0.01px - var(--gap-x, 0.75em));
}

.col-10 {
	flex-basis: calc(83.33% - 0.01px - var(--gap-x, 0.75em));
	max-width: calc(83.33% - 0.01px - var(--gap-x, 0.75em));
}

.col-11 {
	flex-basis: calc(91.66% - 0.01px - var(--gap-x, 0.75em));
	max-width: calc(91.66% - 0.01px - var(--gap-x, 0.75em));
}

.col-12 {
	flex-basis: calc(100% - 0.01px - var(--gap-x, 0.75em));
	max-width: calc(100% - 0.01px - var(--gap-x, 0.75em));
}

@media (min-width: 48rem) {
	.col\@sm {
		flex-grow: 1;
		flex-basis: 0;
		max-width: 100%;
	}

	.col-1\@sm {
		flex-basis: calc(8.33% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(8.33% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-2\@sm {
		flex-basis: calc(16.66% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(16.66% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-3\@sm {
		flex-basis: calc(25% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(25% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-4\@sm {
		flex-basis: calc(33.33% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(33.33% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-5\@sm {
		flex-basis: calc(41.66% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(41.66% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-6\@sm {
		flex-basis: calc(50% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(50% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-7\@sm {
		flex-basis: calc(58.33% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(58.33% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-8\@sm {
		flex-basis: calc(66.66% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(66.66% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-9\@sm {
		flex-basis: calc(75% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(75% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-10\@sm {
		flex-basis: calc(83.33% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(83.33% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-11\@sm {
		flex-basis: calc(91.66% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(91.66% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-12\@sm {
		flex-basis: calc(100% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(100% - 0.01px - var(--gap-x, 0.75em));
	}

	@supports (--css: variables) {
		.gap-sm\@sm {
			--gap-x: var(--space-sm);
			--gap-y: var(--space-sm);
		}

		.gap-md\@sm {
			--gap-x: var(--space-md);
			--gap-y: var(--space-md);
		}

		.gap-lg\@sm {
			--gap-x: var(--space-lg);
			--gap-y: var(--space-lg);
		}

		.gap-0\@sm {
			--gap-x: 0px;
			--gap-y: 0px;
		}

		.gap-x-sm\@sm {
			--gap-x: var(--space-sm);
		}

		.gap-x-md\@sm {
			--gap-x: var(--space-md);
		}

		.gap-x-lg\@sm {
			--gap-x: var(--space-lg);
		}

		.gap-x-0\@sm {
			--gap-x: 0px;
		}

		.gap-y-sm\@sm {
			--gap-y: var(--space-sm);
		}

		.gap-y-md\@sm {
			--gap-y: var(--space-md);
		}

		.gap-y-lg\@sm {
			--gap-y: var(--space-lg);
		}

		.gap-y-0\@sm {
			--gap-y: 0px;
		}
	}

	.hide\@sm {
		display: none !important;
	}
}

@media (min-width: 64rem) {
	.col\@md {
		flex-grow: 1;
		flex-basis: 0;
		max-width: 100%;
	}

	.col-1\@md {
		flex-basis: calc(8.33% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(8.33% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-2\@md {
		flex-basis: calc(16.66% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(16.66% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-3\@md {
		flex-basis: calc(25% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(25% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-4\@md {
		flex-basis: calc(33.33% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(33.33% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-5\@md {
		flex-basis: calc(41.66% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(41.66% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-6\@md {
		flex-basis: calc(50% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(50% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-7\@md {
		flex-basis: calc(58.33% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(58.33% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-8\@md {
		flex-basis: calc(66.66% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(66.66% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-9\@md {
		flex-basis: calc(75% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(75% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-10\@md {
		flex-basis: calc(83.33% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(83.33% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-11\@md {
		flex-basis: calc(91.66% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(91.66% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-12\@md {
		flex-basis: calc(100% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(100% - 0.01px - var(--gap-x, 0.75em));
	}

	@supports (--css: variables) {
		.gap-sm\@md {
			--gap-x: var(--space-sm);
			--gap-y: var(--space-sm);
		}

		.gap-md\@md {
			--gap-x: var(--space-md);
			--gap-y: var(--space-md);
		}

		.gap-lg\@md {
			--gap-x: var(--space-lg);
			--gap-y: var(--space-lg);
		}

		.gap-0\@md {
			--gap-x: 0px;
			--gap-y: 0px;
		}

		.gap-x-sm\@md {
			--gap-x: var(--space-sm);
		}

		.gap-x-md\@md {
			--gap-x: var(--space-md);
		}

		.gap-x-lg\@md {
			--gap-x: var(--space-lg);
		}

		.gap-x-0\@md {
			--gap-x: 0px;
		}

		.gap-y-sm\@md {
			--gap-y: var(--space-sm);
		}

		.gap-y-md\@md {
			--gap-y: var(--space-md);
		}

		.gap-y-lg\@md {
			--gap-y: var(--space-lg);
		}

		.gap-y-0\@md {
			--gap-y: 0px;
		}
	}

	.hide\@md {
		display: none !important;
	}
}

@media (min-width: 80rem) {
	.col\@lg {
		flex-grow: 1;
		flex-basis: 0;
		max-width: 100%;
	}

	.col-1\@lg {
		flex-basis: calc(8.33% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(8.33% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-2\@lg {
		flex-basis: calc(16.66% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(16.66% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-3\@lg {
		flex-basis: calc(25% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(25% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-4\@lg {
		flex-basis: calc(33.33% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(33.33% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-5\@lg {
		flex-basis: calc(41.66% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(41.66% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-6\@lg {
		flex-basis: calc(50% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(50% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-7\@lg {
		flex-basis: calc(58.33% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(58.33% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-8\@lg {
		flex-basis: calc(66.66% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(66.66% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-9\@lg {
		flex-basis: calc(75% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(75% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-10\@lg {
		flex-basis: calc(83.33% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(83.33% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-11\@lg {
		flex-basis: calc(91.66% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(91.66% - 0.01px - var(--gap-x, 0.75em));
	}

	.col-12\@lg {
		flex-basis: calc(100% - 0.01px - var(--gap-x, 0.75em));
		max-width: calc(100% - 0.01px - var(--gap-x, 0.75em));
	}

	@supports (--css: variables) {
		.gap-sm\@lg {
			--gap-x: var(--space-sm);
			--gap-y: var(--space-sm);
		}

		.gap-md\@lg {
			--gap-x: var(--space-md);
			--gap-y: var(--space-md);
		}

		.gap-lg\@lg {
			--gap-x: var(--space-lg);
			--gap-y: var(--space-lg);
		}

		.gap-0\@lg {
			--gap-x: 0px;
			--gap-y: 0px;
		}

		.gap-x-sm\@lg {
			--gap-x: var(--space-sm);
		}

		.gap-x-md\@lg {
			--gap-x: var(--space-md);
		}

		.gap-x-lg\@lg {
			--gap-x: var(--space-lg);
		}

		.gap-x-0\@lg {
			--gap-x: 0px;
		}

		.gap-y-sm\@lg {
			--gap-y: var(--space-sm);
		}

		.gap-y-md\@lg {
			--gap-y: var(--space-md);
		}

		.gap-y-lg\@lg {
			--gap-y: var(--space-lg);
		}

		.gap-y-0\@lg {
			--gap-y: 0px;
		}
	}

	.hide\@lg {
		display: none !important;
	}
}

/* Typography & Utility */

:root {
	--radius: 0.25em;
	--radius-sm: calc(var(--radius, 0.25em) / 2);
	--radius-md: var(--radius, 0.25em);
	--radius-lg: calc(var(--radius, 0.25em) * 2);
	--shadow-xs: 0 0.1px 0.3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
	--shadow-sm: 0 0.3px 0.4px rgba(0, 0, 0, 0.025),
		0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1);
	--shadow-md: 0 0.9px 1.5px rgba(0, 0, 0, 0.03),
		0 3.1px 5.5px rgba(0, 0, 0, 0.08), 0 14px 25px rgba(0, 0, 0, 0.12);
	--shadow-lg: 0 1.2px 1.9px -1px rgba(0, 0, 0, 0.014),
		0 3.3px 5.3px -1px rgba(0, 0, 0, 0.038),
		0 8.5px 12.7px -1px rgba(0, 0, 0, 0.085),
		0 30px 42px -1px rgba(0, 0, 0, 0.15);
	--bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	--ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
	--ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	--ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
	--ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);
}

:root {
	--font-primary: system-ui, sans-serif;
	--text-base-size: 1rem;
	--text-scale-ratio: 1.2;
	--text-unit: var(--text-base-size);
	--body-line-height: 1.4;
	--heading-line-height: 1.2;
	--font-primary-capital-letter: 0.75;
}

:root,
* {
	--text-xs: calc((var(--text-unit) / var(--text-scale-ratio)) / var(--text-scale-ratio));
	--text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
	--text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
	--text-lg: calc(var(--text-md) * var(--text-scale-ratio));
}

body {
	font-size: var(--text-base-size, 1em);
	font-family: var(--font-primary);
	color: var(--color-contrast-high, #313135);
}

mark {
	background-color: rgba(var(--color-accent), 0.2);
	color: inherit;
}

h1,
h2,
h3,
h4 {
	font-weight: 700;
	color: rgba(var(--color-contrast-higher), var(--color-o, 1));
	line-height: var(--heading-line-height, 1.2);
}

h1 {
	font-size: var(--text-xxl, 2.074em);
}

h2 {
	font-size: var(--text-xl, 1.728em);
}

h3 {
	font-size: var(--text-lg, 1.44em);
}

h4 {
	font-size: var(--text-md, 1.2em);
}

small {
	font-size: var(--text-sm, 0.833em);
}

a,
.link {
	color: rgba(var(--color-primary), var(--color-o, 1));
	text-decoration: underline;
}

strong {
	font-weight: bold;
}

s {
	text-decoration: line-through;
}

u {
	text-decoration: underline;
}

.text-component {
	--line-height-multiplier: 1;
	--text-vspace-multiplier: 1;
}

.text-component h1,
.text-component h2,
.text-component h3,
.text-component h4 {
	line-height: calc(var(--heading-line-height) * var(--line-height-multiplier, 1));
	margin-bottom: calc(var(--space-unit) * 0.25 * var(--text-vspace-multiplier, 1));
}

.text-component h2,
.text-component h3,
.text-component h4 {
	margin-top: calc(var(--space-unit) * 0.75 * var(--text-vspace-multiplier, 1));
}

.text-component p,
.text-component blockquote,
.text-component ul li,
.text-component ol li {
	line-height: calc(var(--body-line-height) * var(--line-height-multiplier, 1));
}

.text-component ul,
.text-component ol,
.text-component p,
.text-component blockquote,
.text-component .text-component__block {
	margin-bottom: calc(var(--space-unit) * 0.75 * var(--text-vspace-multiplier, 1));
}

.text-component ul,
.text-component ol {
	list-style-position: inside;
}

.text-component ul ul,
.text-component ul ol,
.text-component ol ul,
.text-component ol ol {
	padding-left: 1em;
	margin-bottom: 0;
}

.text-component ul {
	list-style-type: disc;
}

.text-component ol {
	list-style-type: decimal;
}

.text-component img {
	display: block;
	margin: 0 auto;
}

.text-component blockquote {
	padding-left: 1em;
	border-left: 4px solid rgb(var(--color-contrast-low));
}

.text-component figcaption {
	font-size: var(--text-sm);
	color: var(--color-contrast-medium);
	text-align: center;
	margin-top: calc(var(--space-unit) * 0.5);
}

.text-component em {
	font-style: italic;
}

.text-component hr {
	margin-top: calc(var(--space-unit) * var(--text-vspace-multiplier, 1));
	margin-bottom: calc(var(--space-unit) * var(--text-vspace-multiplier, 1));
	margin-left: auto;
	margin-right: auto;
	background: rgba(var(--color-contrast-low), var(--bg-o, 1));
	height: 1px;
}

.space-unit-rem {
	--space-unit: 1rem;
}

.space-unit-em {
	--space-unit: 1em;
}

.space-unit-px {
	--space-unit: 16px;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-capitalize {
	text-transform: capitalize;
}

.font-light {
	font-weight: 300;
}

.font-normal {
	font-weight: 400;
}

.font-medium {
	font-weight: 500;
}

.font-semibold {
	font-weight: 600;
}

.font-bold,
.text-bold {
	font-weight: 700;
}

.font-italic {
	font-style: italic;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.text-line-through {
	text-decoration: line-through;
}

.text-underline {
	text-decoration: underline;
}

.text-decoration-none {
	text-decoration: none;
}

.text-xs {
	font-size: var(--text-xs, 0.694em);
}

.text-sm {
	font-size: var(--text-sm, 0.833em);
}

.text-base {
	font-size: var(--text-unit, 1em);
}

.text-md {
	font-size: var(--text-md, 1.2em);
}

.text-lg {
	font-size: var(--text-lg, 1.44em);
}

.text-unit-rem,
.text-unit-em,
.text-unit-px {
	font-size: var(--text-unit);
}

.text-unit-rem {
	--text-unit: 1rem;
}

.text-unit-em {
	--text-unit: 1em;
}

.text-unit-px {
	--text-unit: 16px;
}

.ws-nowrap,
.text-nowrap {
	white-space: nowrap;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-auto {
	overflow: auto;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.shadow-xs {
	box-shadow: var(--shadow-xs);
}

.shadow-sm {
	box-shadow: var(--shadow-sm);
}

.shadow-md {
	box-shadow: var(--shadow-md);
}

.shadow-lg {
	box-shadow: var(--shadow-lg);
}

.shadow-none {
	box-shadow: none;
}

/* Icon */

:root {
	--size: 1em;
	--icon-sm: 1.5em;
	--icon-md: 2em;
	--icon-lg: 3em;
}

.icon {
	--size: 1em;
	display: inline-block;
	color: inherit;
	fill: currentColor;
	height: var(--size);
	width: var(--size);
	line-height: 1;
	flex-shrink: 0;
	max-width: initial;
}

.icon--sm {
	--size: var(--icon-sm);
}

.icon--md {
	--size: var(--icon-md);
}

.icon--lg {
	--size: var(--icon-lg);
}

/* Button */

.btn {
	border: 1px solid transparent;
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	text-decoration: none;
	font-size: var(--btn-font-size, 1em);
	padding-top: var(--btn-padding-y, 0.5em);
	padding-bottom: var(--btn-padding-y, 0.5em);
	padding-left: var(--btn-padding-x, 0.75em);
	padding-right: var(--btn-padding-x, 0.75em);
	border-radius: var(--btn-radius, 0.25em);
	line-height: 1.2;
	box-shadow: var(--shadow-xs);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: 0.2s;
}

.btn--sm {
	font-size: var(--btn-font-size-sm, 0.8em);
}

.btn--md {
	font-size: var(--btn-font-size-md, 1.2em);
}

.btn--lg {
	font-size: var(--btn-font-size-lg, 1.4em);
}

.btn--icon {
	padding: var(--btn-padding-y, 0.5em);
}

:root {
	--btn-padding-y: var(--space-xs);
	--btn-padding-x: var(--space-sm);
	--btn-radius: 0.25em;
	--btn-font-size: 1em;
}

.btn:hover {
	cursor: pointer;
	box-shadow: var(--shadow-sm);
}

.btn:focus {
	outline: none;
	box-shadow: 0px 0px 0px 2px rgba(var(--color-contrast-high), 0.15);
}

.btn:active {
	-webkit-transform: translateY(2px);
	transform: translateY(2px);
}

.btn--primary {
	background-color: rgba(var(--color-primary), var(--bg-o, 1));
	color: rgba(var(--color-white), var(--color-o, 1));
}

.btn--primary:hover {
	background-color: rgba(var(--color-primary-light), var(--bg-o, 1));
}

.btn--primary:focus {
	box-shadow: 0px 0px 0px 2px rgba(var(--color-primary), 0.2);
}

.btn--subtle {
	background-color: rgba(var(--color-contrast-low), var(--bg-o, 1));
	color: rgba(var(--color-contrast-high), var(--color-o, 1));
}

.btn--accent {
	background-color: rgba(var(--color-accent), var(--bg-o, 1));
	color: rgba(var(--color-white), var(--color-o, 1));
}

.btn--accent:hover {
	background-color: rgba(var(--color-accent-light), var(--bg-o, 1));
}

.btn--accent:focus {
	box-shadow: 0px 0px 0px 2px rgba(var(--color-accent), 0.2);
}

.btn--outline {
	border: 1px solid rgba(var(--color-contrast-medium), var(--bg-o, 1));
	color: rgba(var(--color-contrast-medium), var(--bg-o, 1));
	background-color: transparent;
}

.btn--disabled,
.btn[disabled],
.btn[readonly] {
	opacity: 0.6;
	cursor: not-allowed;
}

/* Form */

.form-control {
	font-size: var(--form-control-font-size, 1em);
	padding-top: var(--form-control-padding-y, 0.5em);
	padding-bottom: var(--form-control-padding-y, 0.5em);
	padding-left: var(--form-control-padding-x, 0.75em);
	padding-right: var(--form-control-padding-x, 0.75em);
	border-radius: var(--form-control-radius, 0.25em);
	line-height: 1.2;
	background-color: rgba(var(--color-bg), var(--bg-o, 1));
	border: 2px solid rgba(var(--color-contrast-low), var(--border-o, 1));
	transition: 0.2s;
}

:root {
	--form-control-padding-y: var(--space-xxs);
	--form-control-padding-x: var(--space-xs);
	--form-control-radius: 0.25em;
	--form-control-font-size: 1em;
}

.form-control::-webkit-input-placeholder,
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::placeholder {
	opacity: 1;
	color: rgba(var(--color-contrast-medium), var(--color-o, 1));
}

.form-control:focus,
.form-control[aria-expanded="true"] {
	outline: none;
	border-color: rgba(var(--color-primary), var(--border-o, 1));
	box-shadow: 0 0 0 2px rgba(var(--color-primary), 0.2);
}

.form-control--error,
.form-control[aria-invalid="true"],
.was-validated .form-control[required]:invalid {
	border-color: rgba(var(--color-error), var(--border-o, 1));
}

.form-control--error:focus,
.form-control[aria-invalid="true"]:focus,
.was-validated .form-control[required]:invalid {
	border-color: rgba(var(--color-error), var(--border-o, 1));
	box-shadow: 0 0 0 2px rgba(var(--color-error), 0.2);
}

.form-control--disabled,
.form-control[disabled] {
	cursor: not-allowed;
	opacity: .6;
}

.form-control[readonly] {
	opacity: 1;
}

.form-control.plaintext {
	border: 0;
	background-color: transparent;
	box-shadow: none;
}

.icon-input {
	position: relative;
}

.icon-input .icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.icon-input .icon-input__right,
.icon-input .icon {
	right: calc(var(--form-control-padding-x))
}


.icon-input .icon-input__left {
	left: var(--form-control-padding-x)
}


.icon-input .form-control {
	padding-left: calc(var(--form-control-padding-x) + var(--size)*1.2)
}

.icon-input.right-icon .form-control {
	padding-left: var(--form-control-padding-x, 0.75em);
	padding-right: calc(var(--form-control-padding-x) + var(--size)*1.2)
}


.icon--dual .form-control {
	padding-right: calc(var(--form-control-padding-x) + var(--size)*1.2)
}


.form-legend {
	color: rgba(var(--color-contrast-higher), var(--color-o, 1));
	line-height: var(--heading-line-height, 1.2);
	font-size: var(--text-md, 1.2em);
	margin-bottom: var(--space-xxs);
}

.form-label {
	display: inline-block;
}

.form__msg-error,
.form-error-msg {
	color: rgba(var(--color-error), var(--color-o, 1));
	font-size: var(--text-sm, 0.833em);
	margin-top: var(--space-xxs);
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
}

.form__msg-error--is-visible,
.form-error-msg--is-visible,
.was-validated .form-control[required]:invalid ~ .form__msg-error,
.was-validated .form-control[required]:invalid ~ .form-error-msg {
	position: relative;
	clip: auto;
}

.was-validated .form-control[required]:invalid ~ .icon {
	transform: translateY(calc(-50% - var(--space-unit)/2));
}

.checkbox,
.radio {
	cursor: pointer;
	display: inline-block;
	line-height: 1.25;
	position: relative;
}

label.checkbox,
label.radio {
	font-weight: 400;
	font-size: .875rem !important;
	transition: color .1s linear;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: var(--body-line-height);
}

.checkbox>input,
.radio>input {
	width: var(--space-md);
	opacity: 0;
	cursor: pointer;
	margin-right: var(--space-xs);
}

.checkbox:not(.is-toggle)>input:checked~.checkbox-mark {
	background-color: rgba(var(--color-primary), var(--bg-o, 1));
	box-shadow: inset 0 0 0 2px rgba(var(--color-primary), var(--bg-o, 1)) !important;
}

.checkbox-mark,
.radio-mark {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--space-md);
	height: var(--space-md);
	border-radius: var(--radius-md);
	box-shadow: inset 0 0 0 2px rgb(var(--color-contrast-high), var(--shadow-o, 15%));
	transition: background-color .15s linear, box-shadow .15s linear;
}

.radio-mark {
	border-radius: 50%;
}

.checkbox-mark:after {
	position: absolute;
	top: 4px;
	left: 8px;
	width: 5px;
	height: 9px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	content: "";
	opacity: 0;
	transition: opacity .1s ease-in, -webkit-transform .1s ease-out;
	transition: transform .1s ease-out, opacity .1s ease-in;
	transition: transform .1s ease-out, opacity .1s ease-in, -webkit-transform .1s ease-out;
	-webkit-transform: rotate(40deg) scale(.25);
	transform: rotate(40deg) scale(.25);
}

.radio-mark:after {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgba(var(--color-primary), var(--bg-o, 1));
	content: "";
	transition: -webkit-transform .1s ease-out;
	transition: transform .1s ease-out;
	transition: transform .1s ease-out, -webkit-transform .1s ease-out;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.checkbox[disabled]>.checkbox-mark,
.radio[disabled]>.radio-mark {
	background-color: transparent;
	--shadow-o: 0.075
}

.radio[disabled],
.checkbox[disabled],
.toggle[disabled] {
	color: rgba(var(--color-contrast-medium), var(--color-o, 1));
	cursor: not-allowed;
}

.checkbox>input:checked~.checkbox-mark:after,
.checkbox>input:checked~.checkbox-mark:before {
	opacity: 1 !important;
	-webkit-transform: rotate(40deg) scale(1.25);
	transform: rotate(40deg) scale(1.25);
}

.radio>input:checked {
	box-shadow: inset 0 0 0 2px rgb(var(--color-contrast-high), 15%);
}

.radio>input:checked~.radio-mark:after {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.checkbox[disabled]>input:checked~.checkbox-mark {
	background-color: rgba(var(--color-contrast-high), 0.075);
	box-shadow: inset 0 0 0 2px transparent !important;
}

.checkbox[disabled]>input:checked~.checkbox-mark:after {
	border: solid rgba(var(--color-primary), .75) !important;
	border-width: 0 2px 2px 0 !important;
}

.radio[disabled]>input:checked~.radio-mark:after,
.toggle[disabled]>input+.toggle-mark {
	--bg-o: 0.5
}

.radio-list>label:not(:last-child),
.checkbox-list>label:not(:last-child) {
	margin-bottom: var(--space-xs);
}

:root {
	--toggle-width: 48px;
	--toggle-height: 24px;
	--toggle-padding: 3px;
	--toggle-animation-duration: 0.2s;
}

.toggle {
	display: flex;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

.toggle-mark {
	position: absolute;
	left: 0;
	top: 0;
}

.toggle>input {
	display: none;
}

.toggle>input:checked+.toggle-mark {
	background-color: rgba(var(--color-primary), var(--bg-o, 1));
}

.toggle>input:checked+.toggle-mark::after {
	left: calc(100% - var(--toggle-height) + var(--toggle-padding));
}

.toggle>input:focus+.toggle-mark,
.toggle>input:active+.toggle-mark {
	box-shadow: 0 0 0 2px rgba(var(--color-contrast-high), 0.08);
}

.toggle>input:checked:focus+.toggle-mark,
.toggle>input:checked:active+.toggle-mark {
	box-shadow: 0 0 0 2px rgba(var(--color-primary), 0.2);
}

.toggle-mark {
	position: relative;
	display: inline-flex;
	flex-shrink: 0;
	align-items: center;
	width: var(--toggle-width);
	height: var(--toggle-height);
	border-radius: 50em;
	padding: var(--toggle-padding) 0;
	color: transparent;
	background-color: rgba(var(--color-contrast-low), var(--bg-o, 1));
	border-radius: inherit;
	z-index: 1;
	transition: var(--toggle-animation-duration);
	overflow: hidden;
	border-radius: 50em;
}

.toggle-mark::after {
	content: '';
	position: absolute;
	top: var(--toggle-padding);
	background-color: rgba(var(--color-white));
	width: calc(var(--toggle-height) - var(--toggle-padding) * 2);
	height: calc(var(--toggle-height) - var(--toggle-padding) * 2);
	border-radius: 50%;
	z-index: 2;
	pointer-events: none;
	box-shadow: var(--shadow-xs);
	left: var(--toggle-padding);
	transition: left var(--toggle-animation-duration);
	will-change: left;
}

.toggle-mark+span {
	margin-left: var(--space-xs)
}

:root {
	--select-dropdown-gap: 4px;
	--option-scrollbar-width: 0.4em
}

.select__input {
	text-align: left;
	cursor: pointer;
}

.select__input * {
	pointer-events: none;
}

.select__input[aria-expanded="true"]+.option__list {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity .2s;
}

.option__list {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	min-width: 200px;
	max-height: 300px;
	background-color: rgba(var(--color-white), var(--bg-o, 1));
	box-shadow: var(--shadow-md);
	padding: var(--space-xs) 0;
	border-radius: var(--radius-md);
	z-index: 3;
	margin-top: var(--select-dropdown-gap);
	margin-bottom: var(--select-dropdown-gap);
	overflow: auto;
	--space-unit: 1rem;
	--text-unit: 1rem;
	font-size: var(--text-unit);
	visibility: hidden;
	opacity: 0;
	outline: 0;
	transition: visibility 0s .2s, opacity .2s;
}

.option__list::-webkit-scrollbar {
	width: 0.4em;
}

.option__list::-webkit-scrollbar-thumb {
	border-radius: var(--radius-lg);
	background-color: rgba(var(--color-contrast-medium), 0.5);

}

.option__item {
	outline: 0;
}

.select__item {
	width: 100%;
	outline: 0;
	display: flex;
	--active-bg: var(--color-primary);
	background-color: transparent;
	border: 0;
	cursor: pointer;
	transition: .2s;
	padding: var(--space-sm) var(--form-control-padding-x);
}

.select__item:hover {
	background-color: rgba(var(--color-contrast-low), var(--bg-o, 0.3));
}

.select__item:focus {
	--bg-o: 0.25;
	background-color: rgba(var(--active-bg), var(--bg-o, 1));
}

.select__item[selected] {
	--bg-o: 1;
	color: rgba(var(--color-white), var(--color-o, 1));
	background-color: rgba(var(--active-bg), var(--bg-o, 1));
}


.select__item[selected]::after {
	content: '✓';
	margin-left: auto;
	width: var(--size);
	height: var(--size);
}

.minimal--select {
	display: inline-block;
}

.minimal--select button {
	color: rgba(var(--color-contrast-high));
	background-color: transparent;
	border: 0;
	text-decoration: underline;
	padding-right: calc(var(--size)*2);
}



/* Display */

:root {
	--display: block;
}

.is-visible {
	display: var(--display) !important;
}

.is-hidden {
	display: none !important;
}

.sr-only {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	overflow: hidden;
	padding: 0;
	border: 0;
	white-space: nowrap;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

.contents {
	display: contents;
}

.hide {
	display: none;
}

/* Flex Style */

.flex {
	display: flex;
}

.inline-flex {
	display: inline-flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}

.flex-nowrap {
	flex-wrap: nowrap;
}

.flex-column {
	flex-direction: column;
}

.flex-column-reverse {
	flex-direction: column-reverse;
}

.flex-row {
	flex-direction: row;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.flex-grow {
	flex-grow: 1;
}

.flex-grow-0 {
	flex-grow: 0;
}

.flex-shrink {
	flex-shrink: 1;
}

.flex-shrink-0 {
	flex-shrink: 0;
}

.flex-basis-0 {
	flex-basis: 0;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.items-center {
	align-items: center;
}

.items-start {
	align-items: flex-start;
}

.items-end {
	align-items: flex-end;
}

.items-baseline {
	align-items: baseline;
}

.order-1 {
	order: 1;
}

.order-2 {
	order: 2;
}

.order-3 {
	order: 3;
}

/* Spacing */

.m-1 {
	margin: var(--space-xs);
}

.m-2 {
	margin: var(--space-sm);
}

.m-3 {
	margin: var(--space-md);
}

.m-4 {
	margin: var(--space-lg);
}

.m-auto {
	margin: auto;
}

.m-0 {
	margin: 0;
}

.mt-1,
.my-1 {
	margin-top: var(--space-xs);
}

.mt-2,
.my-2 {
	margin-top: var(--space-sm);
}

.mt-3,
.my-3 {
	margin-top: var(--space-md);
}

.mt-4,
.my-4 {
	margin-top: var(--space-lg);
}

.mt-auto,
.my-auto {
	margin-top: auto;
}

.mt-0,
.my-0 {
	margin-top: 0;
}

.mb-1,
.my-1 {
	margin-bottom: var(--space-xs);
}

.mb-2,
.my-2 {
	margin-bottom: var(--space-sm);
}

.mb-3,
.my-3 {
	margin-bottom: var(--space-md);
}

.mb-4,
.my-4 {
	margin-bottom: var(--space-lg);
}

.mb-auto,
.my-auto {
	margin-bottom: auto;
}

.mb-0,
.my-0 {
	margin-bottom: 0;
}

.mr-1,
.mx-1 {
	margin-right: var(--space-xs);
}

.mr-2,
.mx-2 {
	margin-right: var(--space-sm);
}

.mr-3,
.mx-3 {
	margin-right: var(--space-md);
}

.mr-4,
.mx-4 {
	margin-right: var(--space-lg);
}

.mr-auto,
.mx-auto {
	margin-right: auto;
}

.mr-0,
.mx-0 {
	margin-right: 0;
}

.ml-1,
.mx-1 {
	margin-left: var(--space-xs);
}

.ml-2,
.mx-2 {
	margin-left: var(--space-sm);
}

.ml-3,
.mx-3 {
	margin-left: var(--space-md);
}

.ml-4,
.mx-4 {
	margin-left: var(--space-lg);
}

.ml-auto,
.mx-auto {
	margin-left: auto;
}

.ml-0,
.mx-0 {
	margin-left: 0;
}

.p-1 {
	padding: var(--space-xs);
}

.p-2 {
	padding: var(--space-sm);
}

.p-3 {
	padding: var(--space-md);
}

.p-4 {
	padding: var(--space-lg);
}

.pt-1,
.py-1 {
	padding-top: var(--space-xs);
}

.pt-2,
.py-2 {
	padding-top: var(--space-sm);
}

.pt-3,
.py-3 {
	padding-top: var(--space-md);
}

.pt-4,
.py-4 {
	padding-top: var(--space-lg);
}

.pt-0,
.py-0 {
	padding-top: 0;
}

.pb-1,
.py-1 {
	padding-bottom: var(--space-xs);
}

.pb-2,
.py-2 {
	padding-bottom: var(--space-sm);
}

.pb-3,
.py-3 {
	padding-bottom: var(--space-md);
}

.pb-4,
.py-4 {
	padding-bottom: var(--space-lg);
}

.pr-1,
.px-1 {
	padding-right: var(--space-xs);
}

.pr-2,
.px-2 {
	padding-right: var(--space-sm);
}

.pr-3,
.px-3 {
	padding-right: var(--space-md);
}

.pr-4,
.px-4 {
	padding-right: var(--space-lg);
}

.pr-0,
.px-0 {
	padding-right: 0;
}

.pl-1,
.px-1 {
	padding-left: var(--space-xs);
}

.pl-2,
.px-2 {
	padding-left: var(--space-sm);
}

.pl-3,
.px-3 {
	padding-left: var(--space-md);
}

.pl-4,
.px-4 {
	padding-left: var(--space-lg);
}

.pl-0,
.px-0 {
	padding-left: 0;
}

/* Align */

.align-baseline {
	vertical-align: baseline;
}

.align-top {
	vertical-align: top;
}

.align-middle {
	vertical-align: middle;
}

.align-bottom {
	vertical-align: bottom;
}

/* Interact */

.cursor-pointer {
	cursor: pointer;
}

.cursor-default {
	cursor: default;
}

.pe-auto {
	pointer-events: auto;
}

.pe-none {
	pointer-events: none;
}

.user-select-none {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.user-select-all {
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

/* Color */

.color-inherit {
	color: inherit;
}

.color-bg {
	color: rgba(var(--color-bg), var(--color-o, 1));
}

.color-contrast-low {
	color: rgba(var(--color-contrast-low), var(--color-o, 1));
}

.color-contrast-medium {
	color: rgba(var(--color-contrast-medium), var(--color-o, 1));
}

.color-contrast-high {
	color: rgba(var(--color-contrast-high), var(--color-o, 1));
}

.color-primary {
	color: rgba(var(--color-primary), var(--color-o, 1));
}

.color-primary-light {
	color: rgba(var(--color-primary-light), var(--color-o, 1));
}

.color-accent {
	color: rgba(var(--color-accent), var(--color-o, 1));
}

.color-accent-light {
	color: rgba(var(--color-accent-light), var(--color-o, 1));
}

.color-success {
	color: rgba(var(--color-success), var(--color-o, 1));
}

.color-warning {
	color: rgba(var(--color-warning), var(--color-o, 1));
}

.color-error {
	color: rgba(var(--color-error), var(--color-o, 1));
}

.color-white {
	color: rgba(var(--color-white), var(--color-o, 1));
}

.color-black {
	color: rgba(var(--color-black), var(--color-o, 1));
}

@supports (--css: variables) {
	.color-opacity-0 {
		--color-o: 0;
	}

	.color-opacity-10\% {
		--color-o: 0.1;
	}

	.color-opacity-20\% {
		--color-o: 0.2;
	}

	.color-opacity-30\% {
		--color-o: 0.3;
	}

	.color-opacity-40\% {
		--color-o: 0.4;
	}

	.color-opacity-50\% {
		--color-o: 0.5;
	}

	.color-opacity-60\% {
		--color-o: 0.6;
	}

	.color-opacity-70\% {
		--color-o: 0.7;
	}

	.color-opacity-80\% {
		--color-o: 0.8;
	}

	.color-opacity-90\% {
		--color-o: 0.9;
	}
}

.w-25\% {
	width: 25%;
}

.w-50\% {
	width: 50%;
}

.w-75\% {
	width: 75%;
}

.w-100\% {
	width: 100%;
}

.w-auto {
	width: auto;
}

.h-25\% {
	height: 25%;
}

.h-50\% {
	height: 50%;
}

.h-75\% {
	height: 75%;
}

.h-100\% {
	height: 100%;
}

.h-auto {
	height: auto;
}

.max-w-100\% {
	max-width: 100%;
}

.max-w-100vh {
	max-width: 100vh;
}

.max-h-100\% {
	max-height: 100%;
}

.max-h-100vh {
	max-height: 100vh;
}

.min-w-100\% {
	min-width: 100%;
}

.min-w-100vh {
	min-width: 100vh;
}

.min-h-100\% {
	min-height: 100%;
}

.min-h-100vh {
	min-height: 100vh;
}

/* Position */

.pos-relative {
	position: relative;
}

.pos-absolute {
	position: absolute;
}

.pos-fixed {
	position: fixed;
}

.pos-sticky {
	position: -webkit-sticky;
	position: sticky;
}

.zindex-1,
.z-index-1 {
	z-index: 1;
}

.zindex-2,
.z-index-2 {
	z-index: 2;
}

.zindex-3,
.z-index-3 {
	z-index: 3;
}

/* Border style */

.border {
	border: 1px solid rgba(var(--color-contrast-low), var(--border-o, 1));
}

.border-top {
	border-top: 1px solid rgba(var(--color-contrast-low), var(--border-o, 1));
}

.border-bottom {
	border-bottom: 1px solid rgba(var(--color-contrast-low), var(--border-o, 1));
}

.border-left {
	border-left: 1px solid rgba(var(--color-contrast-low), var(--border-o, 1));
}

.border-right {
	border-right: 1px solid rgba(var(--color-contrast-low), var(--border-o, 1));
}

.border-0 {
	border-width: 0px;
}

.border-2 {
	border-width: 2px;
}

.border-3 {
	border-width: 3px;
}

.border-4 {
	border-width: 4px;
}

.border-bg {
	border-color: rgba(var(--color-bg), var(--border-o, 1));
}

.border-contrast-low {
	border-color: rgba(var(--color-contrast-low), var(--border-o, 1));
}

.border-contrast-medium {
	border-color: rgba(var(--color-contrast-medium), var(--border-o, 1));
}

.border-contrast-high {
	border-color: rgba(var(--color-contrast-high), var(--border-o, 1));
}

.border-primary {
	border-color: rgba(var(--color-primary), var(--border-o, 1));
}

.border-primary-light {
	border-color: rgba(var(--color-primary-light), var(--border-o, 1));
}

.border-accent {
	border-color: rgba(var(--color-accent), var(--border-o, 1));
}

.border-accent-light {
	border-color: rgba(var(--color-accent-light), var(--border-o, 1));
}

.border-success {
	border-color: rgba(var(--color-success), var(--border-o, 1));
}

.border-warning {
	border-color: rgba(var(--color-warning), var(--border-o, 1));
}

.border-error {
	border-color: rgba(var(--color-error), var(--border-o, 1));
}

.border-white {
	border-color: rgba(var(--color-white), var(--border-o, 1));
}

.border-black {
	border-color: rgba(var(--color-black), var(--border-o, 1));
}

.radius-sm {
	border-radius: var(--radius-sm);
}

.radius-md {
	border-radius: var(--radius-md);
}

.radius-lg {
	border-radius: var(--radius-lg);
}

.radius-50\% {
	border-radius: 50%;
}

.radius-full {
	border-radius: 50em;
}

.radius-0 {
	border-radius: 0;
}

.radius-top-left-0 {
	border-top-left-radius: 0;
}

.radius-top-right-0 {
	border-top-right-radius: 0;
}

.radius-bottom-right-0 {
	border-bottom-right-radius: 0;
}

.radius-bottom-left-0 {
	border-bottom-left-radius: 0;
}

.bg-transparent {
	background-color: transparent;
}

.bg-inherit {
	background-color: inherit;
}

.bg {
	background-color: rgba(var(--color-bg), var(--bg-o, 1));
}

.bg-contrast-low {
	background-color: rgba(var(--color-contrast-low), var(--bg-o, 1));
}

.bg-contrast-medium {
	background-color: rgba(var(--color-contrast-medium), var(--bg-o, 1));
}

.bg-contrast-high {
	background-color: rgba(var(--color-contrast-high), var(--bg-o, 1));
}

.bg-primary {
	background-color: rgba(var(--color-primary), var(--bg-o, 1));
}

.bg-primary-light {
	background-color: rgba(var(--color-primary-light), var(--bg-o, 1));
}

.bg-accent {
	background-color: rgba(var(--color-accent), var(--bg-o, 1));
}

.bg-accent-light {
	background-color: rgba(var(--color-accent-light), var(--bg-o, 1));
}

.bg-success {
	background-color: rgba(var(--color-success), var(--bg-o, 1));
}

.bg-warning {
	background-color: rgba(var(--color-warning), var(--bg-o, 1));
}

.bg-error {
	background-color: rgba(var(--color-error), var(--bg-o, 1));
}

.bg-white {
	background-color: rgba(var(--color-white), var(--bg-o, 1));
}

.bg-black {
	background-color: rgba(var(--color-black), var(--bg-o, 1));
}

@supports (--css: variables) {
	.bg-opacity-0 {
		--bg-o: 0;
	}

	.bg-opacity-10\% {
		--bg-o: 0.1;
	}

	.bg-opacity-20\% {
		--bg-o: 0.2;
	}

	.bg-opacity-30\% {
		--bg-o: 0.3;
	}

	.bg-opacity-40\% {
		--bg-o: 0.4;
	}

	.bg-opacity-50\% {
		--bg-o: 0.5;
	}

	.bg-opacity-60\% {
		--bg-o: 0.6;
	}

	.bg-opacity-70\% {
		--bg-o: 0.7;
	}

	.bg-opacity-80\% {
		--bg-o: 0.8;
	}

	.bg-opacity-90\% {
		--bg-o: 0.9;
	}
}

.bg-cover {
	background-size: cover;
}

.bg-center {
	background-position: center;
}

.bg-no-repeat {
	background-repeat: no-repeat;
}

.obj-contain {
	-o-object-fit: contain;
	object-fit: contain;
}

.obj-cover {
	-o-object-fit: cover;
	object-fit: cover;
}

.visible {
	visibility: visible;
}

.hidden,
.invisible {
	visibility: hidden;
}

:root,
[data-theme="default"] {
	--color-primary: 107, 105, 242;
	--color-primary-light: 76, 132, 246;
	--color-accent: 224, 36, 71;
	--color-accent-light: 229, 72, 101;
	--color-black: 0, 0, 0;
	--color-white: 255, 255, 255;
	--color-success: 136, 197, 89;
	--color-error: 224, 36, 71;
	--color-warning: 255, 209, 56;
	--color-bg: 245, 245, 250;
	--color-contrast-low: 211, 211, 212;
	--color-contrast-medium: 121, 121, 124;
	--color-contrast-high: 49, 49, 53;
}

.hover\:reduce-opacity {
	opacity: 1;
	transition: all 0.3s ease;
}

.hover\:reduce-opacity:hover {
	opacity: 0.8;
}

.hover\:scale {
	transition: -webkit-transform 0.3s var(--ease-out-back);
	transition: transform 0.3s var(--ease-out-back);
	transition: transform 0.3s var(--ease-out-back),
		-webkit-transform 0.3s var(--ease-out-back);
}

.hover\:scale:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.hover\:elevate {
	box-shadow: var(--shadow-sm);
	transition: all 0.3s ease;
}

.hover\:elevate:hover {
	box-shadow: var(--shadow-md);
}
